<div class="content-wrap">
    <div class="main" style="padding: 0px 0px 0px 16%;">
      <div class="container-fluid">
        <!-- /# row -->
        <section id="main-content">
            <div class="row">
                <div class="col-lg-6 p-r-0 title-margin-right">
                  <div class="page-header">
                    <div class="page-title">
                      <h1>Profile</h1>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 text-right"><br/>
                    <button class="btn btn-warning" type="button" (click)="remove()"><i class="fa fa-trash" aria-hidden="true"></i> Remove Employee</button>
                </div>
              </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <form>
                      <div class="form-group">
                        <h6>First Name<span class="text-danger"> *</span></h6>
                        <input type="text" class="form-control input-default " placeholder="First Name"
                          onKeyPress="if(this.value.length==20) return false;" [disabled]="true" value={{emp.first_name}}>
                      </div>
                      <div class="form-group">
                        <h6>Last Name<span class="text-danger"> *</span></h6>
                        <input type="text" class="form-control input-default " placeholder="Last Name"
                          onKeyPress="if(this.value.length==20) return false;" [disabled]="true" value={{emp.last_name}}>
                      </div>
                      <div class="form-group">
                        <h6>Email<span class="text-danger"> *</span></h6>
                        <input type="email" class="form-control input-default " placeholder="Email"
                          onKeyPress="if(this.value.length==60) return false;" [disabled]="true" value={{emp.last_name}}>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div class="basic-form">
                    <form>
                      <div class="form-group">
                        <h6>Gender</h6>
                        <select class="form-control" [disabled]="true"  value={{emp.gender}}>
                          <option>Select</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <h6>Mark as admin</h6>
                          <label class="switch">
                              <input type="checkbox" [checked]="emp.role==1" (click)="changeRole()">
                              <span class="slider round"></span>
                          </label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <style>
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }
        </style>