<div class="content-wrap">
    <div class="main" style="padding: 0px 0px 0px 16%;">
      <div class="container-fluid">
        
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-6 p-r-0 title-margin-right">
              <div class="page-header">
                <div class="page-title">
                  <h1>Task List</h1>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-right"><br/>
                <button class="btn btn-warning" type="button" (click)="createTask()"><i class="fa fa-plus" aria-hidden="true"></i> Create Task</button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table student-data-table m-t-20">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Task Description</th>
                          <th>Status</th>
                          <th>Assigned To</th>
                          <th>Assigned By</th>
                          <th>Task Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let task of taskList, let i = index">
                          <td>{{i + 1}}</td>
                          <td [innerHTML]="task.task_description"></td>
                          <td><span class="badge" [ngClass]="{'badge-danger' : task.status == 'Open', 'badge-success' : task.status == 'Completed'}">{{task.status}}</span></td>
                          <td>{{task.assign_fname}} {{task.assign_lname}}</td>
                          <td>{{task.assign_by_fname}} {{task.assign_by_lname}}</td>
                          <td>{{task.task_date | date: 'dd-MMM-yyyy'}}</td>
                          <td>
                            <button *ngIf="task.status == 'Open'" class="btn btn-sm btn-warning" type="button" (click)="changeStatus(task.id)">Mark As Complet</button>
                            <button *ngIf="task.status != 'Open'" class="btn btn-sm btn-success" type="button" disabled>Mark As Complet</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>