<div class="bg-primary screen-height">
  <div class="unix-login bg-color-screen">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img src="assets/logo.png" class="img-size-front-screen" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
              <span>Home Loans that work as hard as you do,We make the home financing process as smooth as
                possible.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="login-content">
            <div class="login-form login-form-bg">
              <h5 class="text-center"><span class="text-danger">E</span>mployee <span class="text-warning">P</span>anel
              </h5>
              <form>
                <div class="form-group">
                  <label class="text-white"><b>Email address</b></label>
                  <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="login.email">
                </div>
                <div class="form-group">
                  <label class="text-white"><b>Password</b></label>
                  <input type="password" class="form-control" placeholder="Password" name="password"
                    [(ngModel)]="login.password">
                </div>
                <div class="checkbox">
                  <label class="pull-right">
                    <a routerLink="/emp-forgot-password">Forgotten Password?</a>
                  </label>

                </div>
                <button type="button" class="btn btn-primary btn-flat m-b-30 m-t-30" (click)="sigin()">Sign in</button>
                <!-- <div class="social-login-content">
                    <div class="social-button">
                      <button type="button" class="btn btn-success bg-google btn-flat btn-addon m-b-10"><i
                          class="ti-google"></i>Sign in with google</button>
                    </div>
                  </div> -->

                <div class="row">
                  <div class="col-lg-6">
                    <div class="register-link m-t-15 text-center">
                      <p>Don't have account ? <a routerLink="/emp-signup"> Sign Up</a></p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="register-link m-t-15 text-center">
                      <p><a routerLink="/login"> User Login</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
