<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo" (click)="navDashborad()"><a routerLink="/customer/dashboard">
                    <img src="assets/logo.png" class="logo-size" alt="" /></a></div><hr/>
                <li (click)="navDashborad()" [ngClass]="{'active' : dasboardActiveClass==1}"><a routerLink="/customer/dashboard"><i class="ti-home"></i> Dashboard </a></li>
                <li (click)="navProfile()"  [ngClass]="{'active' : profileActiveClass==1}"><a routerLink="/customer/profile"><i class="ti-user"></i> Profile</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <!-- <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div> -->
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                            <i class="ti-power-off" (click)="logOut()"><span class="text-left"> Logout</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>